# Dependencies
node_modules
.pnpm-store

# Build outputs
dist
.turbo
*.tsbuildinfo
.next

# Environment
.env
.env*.local

# IDEs
.vscode
.idea
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Testing
coverage
*.log

# Misc
*.cache
.cache
